<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
    <link rel="icon" type="image/gif/png" href="../static/logoAcuan/detek.png">
    <title>
        Program TA
    </title>
</head>

<body>
    <p class="judul mt-3 justify-content-center mb">
        DETEKSI KESESUAIAN LOGO UNIVERSITAS TEKNOLOGI YOGYAKARTA
        <br>
        MENGGUNAKAN METODE TEMPLATE MATCHING PADA CITRA SERTIFIKAT
    </p>
    <hr class="garis">

    <div class="row">
        <div class="col-md-12">
            <div class="bg">
                <fieldset class="the-fieldset">
                    <legend class="the-legend">Proses Scaling</legend>

                    <form action="/" method="POST" enctype="multipart/form-data">
                        <div class="form-group row justify-content-center mt-5 mb-3">
                            <label for="image" class="col-form-label"><b>Citra Inputan</b></label>
                            <div class="col-sm-3">
                                <div class="custom-file">
                                    <input class="custom-file-input" name="image-source" type="file" id="image-source"
                                        onchange="previewImage();" required>
                                    <label for="image" class="custom-file-label">Pilih Citra Sertifikat</label>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-md-center mt-4">
                            <div class="col-md-12">
                                <div class="images">
                                    <div class="caption">Preview Citra Inputan</div>
                                    <div class="row justify-content-center mb-5">
                                        {% if hasil[4] %}
                                        <img class="shadow p-3 bg-white rounded" id="image"
                                            src="{{ url_for('static', filename='scaling/citraInput.jpg') }}"
                                            alt="your image" />

                                        {% else %}
                                        <img class="shadow p-3 bg-white rounded" id="image" 
                                            src="https://ctt.trains.com/sitefiles/images/no-preview-available.png" alt="your image" />
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row justify-content-center mb-5">
                            <button type="submit" id="scalling" class="btn btn-primary" onclick="resultImage();">Proses
                                Citra</button>
                        </div>


                        <div class="row justify-content-md-center mt-4">
                            <div class="col-md-12">
                                <div class="images">
                                    <div class="caption">Hasil Scaling</div>
                                    <div class="row justify-content-center result_source">
                                        <h3>Ukuran Citra Asli : {{hasil[4]}}</h3>
                                    </div>
                                    <div class="row justify-content-center mb-5 result_source">
                                        <h3>Ukuran Citra Scalling : {{hasil[5]}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
    </fieldset>
    </div>


    <!-- <div class="row">
        <div class="col-md-12">
            <div class="bg">
                <fieldset class="the-fieldset">
                    <legend class="the-legend">Proses Deteksi Tepi</legend>
                    <img src="/static/detTepi/{{hasil[6]}}" alt="">
                </fieldset>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            <div class="bg">
                <fieldset class="the-fieldset">
                    <legend class="the-legend">Proses Deteksi Lingkaran</legend>
                    <div style="float: left;">
                        {% for i in img %}
                        <div class="relative_box">
                            <img class="shadow p-3 bg-white rounded mx-2" src="/static/crop/{{i}}" alt="{{hasil[3]}}">
                            <figcaption class="mx-2">{{ i }}</figcaption>
                        </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bg">
                <fieldset class="the-fieldset px-3">
                    <legend class="the-legend">Proses Template Matching</legend>
                    {% if hasil[3] != 'tidak ada lingkaran terdeteksi' %}
                    <h3>Nilai Array Confidence : <br>{{img}} <br> {{hasil[0]}} </h3> <br>

                    <!-- <h3>Logo Acuan</h3><img class="shadow p-3 bg-white rounded" id="image3" src="/static/logoAcuan/detek1.png"
                    alt="{{hasil[3]}}"> <br> -->

                   <h3>Logo Deteksi</h3> <img class="shadow p-3 bg-white rounded" id="image2" src="/static/crop/crop{{hasil[3]}}"
                        alt="{{hasil[3]}}" > <br>
                        <br>
                    <h3>Nilai Confidence : <br> {{hasil[1]}}%</h3> <br>
                    {% endif %}
                    <h3>Status : <br> {{hasil[2]}}</h3>
                </fieldset>
            </div>
        </div>
    </div>

</body>

</html>

<script>
    $(function () {
        $('input[type="submit"]').prop('disabled', true);
        $('#image-source').on('input', function (e) {
            if (this.value.length === 6) {
                $('input[type="submit"]').prop('disabled', false);
            } else {
                $('input[type="submit"]').prop('disabled', true);
            }
        });
    });
    $('.custom-file-input').on('change', function () {
        let filename = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(filename);
    });
</script>